.logo{
	width:auto;
	height:65px;
	margin-left:-15px;
	@media(min-width:480px){margin:0; height:100px; }
}

.nav{
	&_buttons{
		position: fixed;z-index: 2;top: 45%;
		ul{
			padding:0 0 0 20px;
			list-style-type: none;
			li{
				margin-bottom: 5px;
				color:$inactiveNavDot;
			}
		}	
	}

	&_active{
		color:$activeNavDot;
	}

	&_down{
		padding-bottom:15px;
		color: #ccc;
		position: fixed;
		bottom: 0;
		z-index: 4;
		width: 100%;
	}

}