.contactUs{
	background-color:$yellow;	
	&_wrapper{
		padding:25px 10%;

		h1{
			margin-top: 6%;
		}
		img{
			margin-bottom:15px;
		}
	}

}

.map_wrapper{
 	padding:20px;
 	@media(min-width:768px) and (max-width:992px) {padding:30px 30px 20px 30px;}
 	@media(min-width:992px){padding:0px;}
 	
}

#map{
	@media(max-width:991px){min-height:60vh;}
	@media(max-width:767px){min-height:50vh;}
	height: 100%;
}

.input{
	&_wrapper{
		text-align: left;
		input{
			height:40px;
		}
		input, textarea{
			padding: 12px;
			font-size: 16px;
		}
	}
	&_error{
		color:$error;
	}
}
